.about-page{
    text-align: center;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
    text-align: center;
}

.photo-holder{
    position: relative;
    animation: 2s photoAnimation 0s forwards;
    opacity: 0;
}

#speaker-photo{
    height: 40vmin;
    border: white 2px solid;
    border-radius: 5vmin;
}

.detail-holder{
    position: relative;
    padding: 0 6vmin;
}

#speaker-name{
    position: relative;
    padding-top: 2vmin;
    opacity: 0;
    animation: 2s nameAnimation 1s forwards;
    font-size: 7vmin;
    line-height: 7vmin;
    height: 100%;
}

#speaker-designation{
    padding-top: 1vmin;
    position: relative;
    opacity: 0;
    animation: 2s nameAnimation 1s forwards;
    font-size: 4vmin;
    line-height: 4vmin;
    color: #556B2F;
}

#speaker-details{
    padding-top: 2vmin;
    position: relative;
    opacity: 0;
    animation: 2s detailAnimation 1s forwards;
    font-size: 3.5vmin;
    line-height: 5vmin;
    color: #00008B;
    text-align: justify;
    text-justify: inter-word;
}

#speaker-linkedin{
    opacity: 0;
    animation: 2s detailAnimation 1s forwards;
}

#linkedin-profile{
    padding-top: 3vmin;
    height: 8vmin;
}

@keyframes photoAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes nameAnimation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes detailAnimation {
    from{
        transform: translateY(50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
